# Database Configuration
MYSQL_ROOT_PASSWORD=lamp
MYSQL_USER=lamp
MYSQL_PASSWORD=lamp
MYSQL_DATABASE=taskmanager

# Webserver Admin Credentials
WEBSERVER_ADMIN_USERNAME=admin
WEBSERVER_ADMIN_PASSWORD=admin

# Database Connection
DB_USERNAME=lamp
DB_PASSWORD=lamp
DB_HOST=mariadb

# Node.js Environment
NODE_ENV=development
